body{
    font-family: Arial, sans-serif;
    background:hsl(281, 100%, 89%);
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.weatherForm{
    margin:70px;
    
}
.inputcity{
    padding:10px 10px;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 5px;
}
button{
    margin:5px;
    padding:10px 10px;
    color:white;
    background-color: hsl(217, 100%, 50%);
    font-size: 20px;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    background-color: hsl(253, 90%, 49%);
}
.card{
    margin-top: 100;
    background:linear-gradient(180deg,hsl(210, 100%, 85%),hsl(41, 100%, 90%));
    width:350px;
    border-radius: 20px;
    padding:20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    border:black;
    box-shadow:3px 3px 2px rgb(0, 0, 0);
}
h1{
    font-size: 50px;
    margin-top: 0;
    margin-bottom:20px;
}
.tempDisplay{
    font-size:35px;
    margin-top:0;
    margin-bottom:30px;
    font-weight: 600;
}
.EmojiDisplay{
    font-size: 150px;
    margin-top: 0;
    margin-bottom: 15px;
}
.HumidityDisplay{
    font-size:25px;
    font-weight:bold;
}
.descDisplay{
    font-size:25px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 15px;
    font-style: italic;
}
.ErrorDisplay{
    font-size:30px;
    font-weight:bold;
}